In [44]:
import pandas as pd 
import xml.etree.ElementTree as etree
import numpy as np

In [19]:
tree = etree.parse("Tags.xml")
root = tree.getroot()
columns = ["Id", "TagName", "Count", "ExcerptPostId", "WikiPostId"]
datatframe = pd.DataFrame(columns = columns)
for node in root:
    Id = node.attrib.get("Id")
    TagName = node.attrib.get("TagName")
    Count = node.attrib.get("Count")
    ExcerptPostId = node.attrib.get("ExcerptPostId") if node.attrib.get("ExcerptPostId") else None
    WikiPostId = node.attrib.get("WikiPostId") if node.attrib.get("WikiPostId") else None
    
    datatframe = datatframe.append(pd.Series([Id, TagName, Count, ExcerptPostId,WikiPostId], index = columns), ignore_index = True)

In [50]:
print(datatframe.shape)
print(datatframe.head(5))

(58529, 5)
  Id     TagName    Count ExcerptPostId WikiPostId
0  1        .net   297021       3624959    3607476
1  2        html   995426       3673183    3673182
2  3  javascript  2018353       3624960    3607052
3  4         css   665578       3644670    3644669
4  5         php  1353178       3624936    3607050

In [52]:
datatframe.dtypes

Id               object
TagName          object
Count            object
ExcerptPostId    object
WikiPostId       object
dtype: object

In [54]:
datatframe.isna().sum()

Id                   0
TagName              0
Count                0
ExcerptPostId    16072
WikiPostId       16072
dtype: int64

In [67]:
datatframe.loc[datatframe['ExcerptPostId'].isnull(), 'ExcerptPostId'] = 0

In [68]:
datatframe.loc[datatframe['WikiPostId'].isnull(), 'WikiPostId'] = 0

In [69]:
datatframe.isna().sum()

Id               0
TagName          0
Count            0
ExcerptPostId    0
WikiPostId       0
dtype: int64

In [70]:
datatframe.astype({'Count': 'int64', 'Id': 'int64', 'ExcerptPostId': 'int64', 'WikiPostId': 'int64'}).dtypes

Id                int64
TagName          object
Count             int64
ExcerptPostId     int64
WikiPostId        int64
dtype: object

In [71]:
datatframe.describe()

            Id      TagName  Count  ExcerptPostId  WikiPostId
count    58529        58529  58529          58529       58529
unique   58529        58529   4212          42458       42458
top     100406  launchimage      1              0           0
freq         1            1   2308          16072       16072

In [22]:
datatframe.describe()

            Id      TagName  Count ExcerptPostId WikiPostId
count    58529        58529  58529         42457      42457
unique   58529        58529   4212         42457      42457
top     100406  launchimage      1      42675505   25109152
freq         1            1   2308             1          1

In [73]:
datatframe.to_csv('Tags.csv', index=False)